@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b1326;
  color: white;
  overflow-x: hidden;
}

#app {
  width: 100%;
}

@layer components {
  .glass-card {
      @apply bg-[#2d344966] backdrop-blur-[24px] border border-white/10 transition-all duration-300;
  }

  .glass-panel {
      @apply bg-[#2d344966] backdrop-blur-[24px] border border-white/10;
  }
}

/* Custom Swiper Styles to prevent overflow and maintain margins */
.swiper {
  width: 100% !important;
  height: 100% !important;
}

.movie-swiper {
  padding-bottom: 30px !important;
}
